[Unit]
Description=Apache key service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ksean/apache-key
ExecStart=/usr/bin/docker run --name %n -v /root/.ssh ksean/apache-key /bin/bash
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineOf=apache.service