[Unit]
Description=Apache log volume

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=/usr/bin/docker pull ksean/apache-log
ExecStart=/usr/bin/docker run --name %n -v /var/log/apache2 ksean/apache-log /bin/bash
ExecStop=/usr/bin/docker save -o apache-log.tar ksean/apache-log
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineOf=apache.service
MachineID=e3e9a10d1650466db993fd7d2b8e2c1f