[Unit]
Description=MySQL data volume

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=/usr/bin/docker pull ksean/mysql-data
ExecStart=/usr/bin/docker run --name %n -v /data/mysql ksean/mysql-data /bin/bash
ExecStop=/usr/bin/docker save -o mysql-data.tar ksean/mysql-data
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineID=9211af6959d14e36930ca4a4849872b8