[Unit]
Description=Register Jenkins
After=etcd-jenkins.service
BindsTo=etcd-jenkins.service

[Service]
KillMode=none
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull polvi/docker-register
ExecStart=/usr/bin/docker run --rm --name %n --link etcd-jenkins.service:etcd -v /var/run/docker.sock:/var/run/docker.sock --rm polvi/docker-register jenkins.service 8080 jenkins-A
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineOf=etcd-jenkins.service