[Unit]
Description=Apache web server service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ksean/apache
ExecStart=/usr/bin/docker run --rm --name %n --volumes-from apache-log --volumes-from apache-data -p ${COREOS_PRIVATE_IPV4}::80 ksean/apache
ExecStop=/usr/bin/docker stop -t 3 %n