[Unit]
Description=HAProxy reverse proxy

[Service]
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ksean/haproxy
ExecStart=/usr/bin/docker run --rm --name %n -p ${COREOS_PUBLIC_IPV4}:80:80 -p ${COREOS_PUBLIC_IPV4}:8080:8080 ksean/haproxy
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineID=3a43385e38d149a1ad09d8aeea147bc1