[Unit]
Description=MySQL server

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ksean/mysql
ExecStart=/usr/bin/docker run --rm --name %n --restart=always --volumes-from mysql-data.service -p ${COREOS_PRIVATE_IPV4}::3306 ksean/mysql
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
MachineID=9211af6959d14e36930ca4a4849872b8